<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
    <h1 class="text-info text-center font-weight-bold">Novo Ingrediente</h1>

    <%= render 'form', ingredient: @ingredient %>

    <%= link_to 'Voltar', ingredients_path, :class => 'btn btn-outline-success' %>

  </div>
</div>

