<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
    <h1 class="text-info text-center font-weight-bold">Ingrediente</h1>
    <p>
      <strong>Description:</strong>
      <%= @ingredient.description %>
    </p>

    <%= link_to 'Editar', edit_ingredient_path(@ingredient), :class => 'btn btn-outline-warning' %> |
    <%= link_to 'Voltar', ingredients_path, :class => 'btn btn-outline-info' %>
  </div>
</div>

