<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <h1 class="text-info text-center font-weight-bold">
      Editando Prato
      <span class="font-weight-bold text-black-50">
        <%= @dish.name %>
      </span>
    </h1>
    <nav class="nav navbar">
      <%= link_to 'Voltar', dishes_path %>
      <%= link_to 'Exibir', @dish %>
    </nav>
    <%= render 'form', dish: @dish %>
  </div>
</div>

