
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <h1 class="text-info text-center font-weight-bold">Novo Prato</h1>
    <nav class="nav navbar">
      <%= link_to 'Voltar', dishes_path %>
    </nav>
    <%= render 'form', dish: @dish %>
  </div>
</div>




