<h1 class="text-center">Editando o restaurante <span class="text-info"><%= @restaurant.name %></span></h1>
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <nav class="nav navbar">
      <%= link_to 'Exibir', @restaurant %> |
      <%= link_to 'Voltar', restaurants_path %>
    </nav>
    <%= render 'form', restaurant: @restaurant %>
  </div>
  <div class="col-3"></div>
</div>



