<h1 class="text-center">Novo Restaurante</h1>
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <%= render 'form', restaurant: @restaurant %>
  </div>
  <div class="col-3"></div>
</div>




<%= link_to 'Voltar', restaurants_path %>
