<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
      <p>
        <strong>Descrição:</strong>
        <%= @category.description %>
      </p>

      <%= link_to 'Editar', edit_category_path(@category), :class => 'btn btn-outline-info' %> |
      <%= link_to 'Voltar', categories_path, :class => 'btn btn-outline-warning' %>
  </div>
</div>

